@font-face{
    font-family: 'hero';
    src: url('../fonts/hero.woff') format('woff');
    src: url('../fonts/hero_light.woff') format('woff');
}
*{font-family: 'hero', Arial, sans-serif;font-size: 14px;}

@font-face{
    font-family: 'price';
    src: url('../fonts/hero.woff') format('woff');
}

.amount, .count {
    font-family: 'price', Arial, sans-serif;font-size: 14px;
}

.price_label .from, .price_label .to {
    font-family: 'price', Arial, sans-serif;font-size: 14px;
}

.container-fluid{padding: 0;}
:focus {
    outline: -webkit-focus-ring-color auto 0px;
}
body, button, input, textarea { -webkit-font-smoothing: auto; }

/* INICIA HEADER */
.subctegory-menu{
    background: #3dbdc0;
    width: 100%;
    padding: 15px 0;
}
.subctegory-menu li{
    float: left;
    font-weight: normal;
}
.nav > li.subctegory.open {position: static;}
.nav > li.subctegory.open .subctegory-menu {
    display:table;
    width: 100%;
    text-align: center;
    left:0;
    right:0;
}
.subctegory-menu>li, .sub-menu>li {display: table-cell;}
.sub-menu {min-height: 130px;}
.sub-menu>li {display: block; float: none;}
.dropdown-menu .wrapsubmenu >li{
    width: 25%;
    text-align: left;
    margin-bottom: 5px;
    padding-left: 20px;
    background: url(../images/comida.png) no-repeat 0 0;
}
#menu-item-264 { background-image: url(../images/higienicos.png); }
#menu-item-262 { background-image: url(../images/tecnologia.png); }
#menu-item-261 { background-image: url(../images/salud.png); min-height: 325px; }
#menu-item-257 { background-image: url(../images/papel.png); }
#menu-item-256 { background-image: url(../images/mantenimiento.png); }
#menu-item-260 { background-image: url(../images/imprimir.png); }
#menu-item-265 { background-image: url(../images/hogar.png); }
#menu-item-259 { background-image: url(../images/empaque.png); }
#menu-item-258 { background-image: url(../images/archivo.png); }
.dropdown-menu .wrapsubmenu >li>a, .sub-menu>li>a{
    color: #fff;
    padding: 5px;
}
.wrapsubmenu >li>a {
    font-size: 16px;
    font-weight: bolder;
}
.dropdown-menu .wrapsubmenu >li>a:hover, .sub-menu>li>a:hover{
    background: #32acaf;
    color: #fff;
}
.wrapsubmenu{
    margin-left: 135px;
}
.comproheader{
    margin: 0;
    border-radius: 0;
    width: 100%;
}
.header-container {
    margin: 0 auto;
    width: 87%;
}
.navbar-brand{
    padding: 4px 15px;
}
.wrapsearchform:focus {
    border: 1px solid #66afe9;
    box-shadow: inset 0 1px 1px
    rgba(0, 0, 0, .075), 0 0 8px
    rgba(102, 175, 233, .6);
}
.searchbar:focus{
    box-shadow: inset 0 1px 1px
    rgba(0, 0, 0, .075), 0 0 8px
    rgba(0, 0, 0, 0);
    border: 1px solid #cccccc;
    border-right: none;
}
.searchbar{
    border-right: none;
    border-radius: 0;
    float: left;
}
button.searchbtn, button.searchbtn:hover{
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    background: none;
    border-radius: 0;
    border:1px solid #cccccc;
    background: #ffffff;
    border-left: none;
}
.navbar-default .navbar-nav > .active > a{
    color: #0856a9;
    background: none;
}
.navbar-default .navbar-nav > .active > a:hover{
    background: none;
}
.container-fluid .comprobanner{
    background: url(../images/mainbanner-3.jpg) no-repeat 50% 30%;
    background-size:cover;
    height: 565px;
    border-radius: 0;
}
/* TERMINA HEADER */

.comprobanner{
    text-align:center;
    color:#ffffff;
}
.title{
    font-size: 53px;
    padding-top: 105px;
}
.subtitle{}
.btnbanner{
    color:#fff;
    border: 1px solid #fff;
    padding: 15px 20px;
    background: none;
    border-radius: 0;
}
.btnbanner:hover, .btnbanner:active, .btnbanner:focus{
    background: none;
    border: 1px solid #fff;
}
.wrapquienessomoshome{
    float: left;
    width: 100%;
    margin-bottom: 30px;
    margin-top: -45px;
}
.quienessomosimghome{text-align: right;}
.quienessomostxthome{margin-top: 70px;}
.topproducts{
    float: left;
    width: 100%;
    margin: 20px 0;
}
.wrapcomprofacil{
    background: #eeeeea;
    padding: 15px 15px 45px 15px;
}
.comprofaciltitle{
    float: left;
    width: 100%;
    color: #675f3d;
    font-size: 37px;
    text-align: center;
    margin-bottom: 15px;
}
.comprofacilblock-img, .comprofacilblock-txt{
    float: left;
    width: 100%;
    text-align: center;
}
.comprofacilblock-txt{
    color: #675f3d;
    margin-top: 10px;
}
.rightborder, .rightborder-compro{border-right:1px solid #dfdfdb;}
.generalfooter{
    background: #3dbdc0;
    padding: 30px 15px;
}
.linksfootercol{
    color: #fff;
}
.linksfootercol a{
    color: #fff;
    text-decoration: underline;
    margin: 0 20px 5px 0;
    display: inline-block;
}
.linksfootercol a:hover{text-decoration: none;}
.sociallinks{
    float: left;
    width: 100%;
    margin-top: 15px;
}
.sociallinks-title{
    color: #fcc342;
    font-size: 16px;
    float: left;
    width: 100%;
}
.sociallinks a{margin-right: 20px;}
.footerlogo{text-align: center;}
.copyrights-generalfooter{
    float: left;
    width: 100%;
    color: #fff;
    text-align: center;
    margin-top: 15px;
}
.copyrights-generalfooter a{
    color: #fcc342;
    text-decoration: underline;
}
.copyrights-generalfooter a:hover{text-decoration: none;}
.phone-generalfooter{
    color:#fcc342;
    float: left;
    width: 100%;
    font-size: 23px;
    text-align: right;
}
.emailinfo-generalfooter{
    color:#fff;
    float: left;
    width: 100%;
    text-align: right;
    margin-top: 15px;
}
.plpproduct{
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    background: none;
}
.wrapaddtocartmaskprod, .wrapviewmoremaskprod{
    float: left;
    width: 100%;
}
.addtocartmaskprod{
    background: #a0cb60;
    color: #fff;
    text-decoration: none;
    width: 160px;
    padding: 10px 0;
    cursor: pointer;
    margin-top: 45px;
}
.addtocartmaskprod:hover {
    background: #93c24e;
    color: #fff;
    text-decoration: none;
}
.viewmoremaskprod{
    background: #268fc9;
    margin-top: 15px;
    color: #fff;
    text-decoration: none;
    width: 160px;
    padding: 10px 0;
}
.viewmoremaskprod:hover{
    background: #1b84be;
    color: #fff;
    text-decoration: none;
}
.home-viewmorelink, .home-viewmorelink:hover{
    color: #268fc9;
    border: 1px solid #268fc9;
    padding: 10px 40px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
}
@media only screen and (max-width:991px){
    .topproducts .plpproduct .imgplp-product img{
        width: 100% !important;
        height: auto !important;
    }
    .topproducts .plpproduct .imgplp-product{
        width: 100% !important;
        height: auto !important;
    }
    .wrapsearchbar{padding-left: 0;}
    .nav>li>a{padding: 10px 5px;}
    .wrapsubmenu{
        margin-left: 90px;
    }
}
@media only screen and (max-width:877px){
}
@media only screen and (max-width:750px){
    .quienessomosimghome{text-align: center;}
    .quienessomostxthome {margin-top: 15px;}
    .rightborder-compro{border-right:none;}
    .linksfootercol{
        text-align: center;
        margin-top: 15px;
    }
    .sociallinks, .emailinfo-generalfooter{text-align: center;}
    .phone-generalfooter{
        text-align: center;
        margin-top: 20px;
    }
    .copyrights-generalfooter{margin-top: 20px;}
}
@media only screen and (max-width:768px){
    .subctegory-menu{
        background: #3dbdc0;
        width: 100%;
        padding: 15px 0;
        float: left;
    }
    .subctegory-menu li{
        float: left;
    }
    .nav > li.subctegory.open {position: relative;}
    .nav > li.subctegory.open .subctegory-menu {
        background: #3dbdc0;
        display:table;
        width: 100%;
        text-align: center;
        left:0;
        right:0;
    }
    .subctegory-menu>li {display: table-cell;}
    .dropdown-menu .wrapsubmenu >li{
        width: 100%;
        text-align: left;
        margin-bottom: 5px;
    }
    .dropdown-menu .wrapsubmenu >li>a{
        color: #fff;
        padding: 5px;
        width: 100%;
        float: left;
    }
    .dropdown-menu .wrapsubmenu >li>a:hover{
        background: #32acaf;
        color: #fff;
    }
    .wrapsubmenu{
        margin-left: 0;
    }
    .wrapsearchbar{padding-left: 15px;}
    .searchbar{
        width: 84%;
    }
}
@media only screen and (max-width:510px){
    .title{font-size: 45px;}
    .quienessomosimghome img{
        width: 100% !important;
        height: auto !important;
    }
}
/* ================================
INICIA SEARCH
=================================== */
.plpproduct{
    border:1px solid #dddddd;
    padding: 20px 0;
}
.imgplp-product{
    text-align: center;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
.imgplp-product img{
    width: 100%;
    height:auto;
}
.txtplp-product{padding-top: 10px;}
.txtplp-product, .priceplp-product{
    text-align: center;
    float: left;
    width: 100%;
}
.txtplp-product a{
    color:#000000;
}
.priceplp-product{
    font-weight: bold;
    font-size: 17px;
}
.productplptag{
    width: 111px;
    height: 35px;
    position: absolute;
    z-index: 1;
}
.wrapfilters{
    border:1px solid #dddddd;
    border-radius: 0;
    padding-bottom: 15px;
}
.filtertitle{
    color:#268fc9;
    font-size: 16px;
    padding-top: 15px;
}
.pricerange{margin-top: 15px;}
.filterpriceselect{border-radius: 0;}
.filterpriceselectarrow{border-radius: 0;}
.filtersection{
    margin: 10px 0 0 0;
    list-style: none;
    padding: 0;
}
ul.filtersection li a{
    text-decoration: underline;
    color: #000000;
}
ul.filtersection li label{
    font-weight: normal;
}
.navbar-filters, .navbar-filters:hover{
    background: none !important;
    border: none !important;
    float: left !important;
    border-radius: 0 !important;
    height: auto !important;
}
.sectionbanner{
    height: 130px;
    width: 100%;
    background: url(../images/searchbanner.jpg) no-repeat 50% 20%;
    background-size:cover;
    text-align: center;
    padding-top: 40px;
    font-size: 35px;
    color:#ffffff;
}
.breadcrumbs{
    padding-top: 15px;
    padding-bottom: 30px;
    color:#000000;
}
.breadcrumbs a{
    text-decoration: underline;
    color: #535353;
}
.wrapplppagination{padding: 0 15px;}
.plppagination{float: right;}
.wrapnewsletter{
    height: 350px;
    width: 100%;
    background: url(../images/searchbanner-1.jpg) no-repeat 50% 61%;
    background-size:cover;
    text-align: center;
    padding-top: 110px;
}
.newslettertitle{
    font-size: 35px;
    color:#ffffff;
}
.newsletterwrapform{
    width: 100%;
    max-width: 465px;
    margin: 0 auto;
    float: none !important;
}
.mc4wp-error { color:red; font-weight: bold; }
.formnewslettergroup{width: 100%;}
.newsletterform{
    border-radius: 0;
    width: 100% !important;
    max-width: 280px !important;
    height: 40px;
}
.newsletterbtnform{
    background: #fcc342;
    color: #7760af;
    width: 120px;
    height: 40px;
    border-radius: 0;
}
.newsletterbtnform:hover{
    background: #fcb442;
    color: #7760af;
}
.newslettertxt{
    color:#ffffff;
    padding-top: 20px;
}
@media only screen and (max-width:750px){
    .newsletterform{
        width: 100% !important;
        max-width: 100% !important;
    }
    .newsletterbtnform{margin-top: 10px;}
    .wrapfilters{padding-bottom: 0 !important;}
}
@media only screen and (max-width:510px){
    .navbar-filters{padding: 9px 10px 4px 10px;}
    .imgplp-product, .imgproduct-plp{
        text-align: center;
        width: 100% !important;
        height: auto !important;
    }
    .newslettertxt{padding-top: 0 !important;}
}
/* ================================
TERMINA SEARCH
=================================== */


/* ================================
INICIA PRODUCTO
=================================== */
.wrapproductprice{
    float: left;
    border: 1px dashed #268fc9;
    padding: 15px 10px 20px 10px;
    background: #e7e7e7;
    text-align: center;
    max-height: 112px;
}

.wrapproduct h1{
    color: #268fc9;
    font-size: 30px;
    padding: 35px 0 0 0;
    text-align: center;
    margin: 0;
}
.wrapproduct-c1 h1{
    color:#d04d9d;
    font-size: 30px;
    padding: 35px 0 0 0;
    text-align: center;
    margin: 0;
}
.wrapproduct-c2 h1{
    color:#7862aa;
    font-size: 30px;
    padding: 35px 0 0 0;
    text-align: center;
    margin: 0;
}
.wrapproduct-c3 h1{
    color:#268fc9;
    font-size: 30px;
    padding: 35px 0 0 0;
    text-align: center;
    margin: 0;
}
.wrapproduct-c4 h1{
    color:#3dbdc0;
    font-size: 30px;
    padding: 35px 0 0 0;
    text-align: center;
    margin: 0;
}
.wrapproduct-c5 h1{
    color:#a0cb60;
    font-size: 30px;
    padding: 35px 0 0 0;
    text-align: center;
    margin: 0;
}
.wrapproduct-c6 h1{
    color:#fcc342;
    font-size: 30px;
    padding: 35px 0 0 0;
    text-align: center;
    margin: 0;
}
.productmainfeatures{
    float: left;
    width: 100%;
    padding: 15px 0;
}
.mainfeature-line{
    float: left;
    width: 100%;
    font-size: 12px;
    text-align: center;
    color: #666666;
    margin-bottom: 5px;
}
.wrapproductinfo{padding-top: 40px;}
.wrapproductprice-c1{
    float: left;
    border: 1px dashed #d04d9d;
    padding: 15px 10px 20px 10px;
    background: #e7e7e7;
    text-align: center;
}
.wrapproductprice-c2{
    float: left;
    border: 1px dashed #7862aa;
    padding: 15px 10px 20px 10px;
    background: #e7e7e7;
    text-align: center;
}
.wrapproductprice-c3{
    float: left;
    border: 1px dashed #268fc9;
    padding: 15px 10px 20px 10px;
    background: #e7e7e7;
    text-align: center;
}
.wrapproductprice-c4{
    float: left;
    border: 1px dashed #3dbdc0;
    padding: 15px 10px 20px 10px;
    background: #e7e7e7;
    text-align: center;
}
.wrapproductprice-c5{
    float: left;
    border: 1px dashed #a0cb60;
    padding: 15px 10px 20px 10px;
    background: #e7e7e7;
    text-align: center;
}
.wrapproductprice-c6{
    float: left;
    border: 1px dashed #fcc342;
    padding: 15px 10px 20px 10px;
    background: #e7e7e7;
    text-align: center;
}
.price{
    /* font-size: 35px; */
    /* float: left;*/;
    text-align: center;
}


.single-product div.product .images{
    width: 73.176471%;
    margin-bottom: 3.631em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: initial;
}

.comprofacil-img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.img-buscar {
    height: auto;
    display: inherit;
}


.input-text, input[type=text], input[type=email], input[type=url], input[type=password], input[type=search], textarea{

    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #ccc;

}
.searchbar{
    border-right: none !important;
}
.float-right{
    float: right;
}
.input-text:focus, input[type=text]:focus, input[type=email]:focus, input[type=url]:focus, input[type=password]:focus, input[type=search]:focus, textarea:focus {
    background-color: #fff;
    color: #2b2c30;
}

.wrapproductprice .price{
    padding-top: 25px;
}

.woocommerce-checkout .woocommerce{
    max-width: 705px;
    margin-left: auto;
    margin-right: auto;
}

.wrapproductprice .amount{
    font-size: 35px;
    float: right;
    text-align: right;
    margin-top: 10px;
}


.col-full {
    max-width: 90.141em;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2.618em;
    box-sizing: content-box;
}

.wrapcartbtn{float: left;}
.qty{
    width: 100%;
    float: left;
    color:#666;
}
.wrap-btn-addtocart{
    float: left;
    width: 100%;
}
.btn-addtocart{
    display: block;
    margin: 0 auto;
    width: 175px;
}
.btn-addtocart, .btn-addtocart:visited{
    background: #a0cb60;
    padding: 15px;
    color:#ffffff;
}
.btn-addtocart:hover{
    background: #94c054;
    color: #fff;
    text-decoration: none;
}
.wrapproducttxt{
    float: left;
    width: 100%;
    border: 1px dashed #268fc9;
    padding: 15px 10px 20px 10px;
    background: #e7e7e7;
    text-align: left;
    margin-top: 50px;
}
.wrapproducttxt-c1{
    float: left;
    width: 100%;
    border: 1px dashed #d04d9d;
    padding: 15px 10px 20px 10px;
    background: #e7e7e7;
    text-align: left;
    margin-top: 50px;
}
.wrapproducttxt-c2{
    float: left;
    width: 100%;
    border: 1px dashed #7862aa;
    padding: 15px 10px 20px 10px;
    background: #e7e7e7;
    text-align: left;
    margin-top: 50px;
}
.wrapproducttxt-c3{
    float: left;
    width: 100%;
    border: 1px dashed #268fc9;
    padding: 15px 10px 20px 10px;
    background: #e7e7e7;
    text-align: left;
    margin-top: 50px;
}
.wrapproducttxt-c4{
    float: left;
    width: 100%;
    border: 1px dashed #3dbdc0;
    padding: 15px 10px 20px 10px;
    background: #e7e7e7;
    text-align: left;
    margin-top: 50px;
}
.wrapproducttxt-c5{
    float: left;
    width: 100%;
    border: 1px dashed #a0cb60;
    padding: 15px 10px 20px 10px;
    background: #e7e7e7;
    text-align: left;
    margin-top: 50px;
}
.wrapproducttxt-c6{
    float: left;
    width: 100%;
    border: 1px dashed #fcc342;
    padding: 15px 10px 20px 10px;
    background: #e7e7e7;
    text-align: left;
    margin-top: 50px;
}
.wrapdescriptiontitle{
    float: left;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
}

.sfn-cart-addons{
    display: none;
}
.ssl-cc-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.quantity .qty {
    /* max-width before 3.*/
    max-width: 4.631em;
    text-align: center;
    border-right: 1px solid #ccc;
    border-radius: 1px;
}

.qty input[type=number]::-webkit-inner-spin-button, .qty input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}



.descriptiontitle{
    position: absolute;
    left: 50%;
}
.descriptiontitle2{
    background: #268fc9;
    padding: 15px;
    color: #ffffff;
    position: relative;
    left: -50%;
    margin-top: -40px;
    width: 173px;
}
.descriptiontitle2-c1{
    background: #d04d9d;
    padding: 15px;
    color:#ffffff;
    position: relative;
    left: -50%;
    margin-top: -40px;
    width: 173px;
}
.descriptiontitle2-c2{
    background: #7862aa;
    padding: 15px;
    color:#ffffff;
    position: relative;
    left: -50%;
    margin-top: -40px;
    width: 173px;
}
.descriptiontitle2-c3{
    background: #268fc9;
    padding: 15px;
    color:#ffffff;
    position: relative;
    left: -50%;
    margin-top: -40px;
    width: 173px;
}
.descriptiontitle2-c4{
    background: #3dbdc0;
    padding: 15px;
    color:#ffffff;
    position: relative;
    left: -50%;
    margin-top: -40px;
    width: 173px;
}
.descriptiontitle2-c5{
    background: #a0cb60;
    padding: 15px;
    color:#ffffff;
    position: relative;
    left: -50%;
    margin-top: -40px;
    width: 173px;
}
.descriptiontitle2-c6{
    background: #fcc342;
    padding: 15px;
    color:#ffffff;
    position: relative;
    left: -50%;
    margin-top: -40px;
    width: 173px;
}
.producttype{text-align: center;}
.wrapproducttxt p{
    color:#727272;
}
.wrapproducttxt ul{
    list-style: none;
    padding:0;
    margin:0;
    max-width: 390px;
    width: 100%;
    margin: 0 auto;
}
.wrapproducttxt ul li{
    padding-left: 1em;
    padding-bottom: 8px;
}
.wrapproducttxt ul li:before {
    content: "• ";
    color: #bf2169;
    vertical-align: top;
}
.featurestyle{
    color:#000;
    padding-left: 5px;
    width: 45%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
}
.feature{
    color:#727272;
    width: 44%;
    display: inline-block;
    text-align: left;
}
.descriptionsubtitle{
    color: #000 !important;
    margin-top:20px;
    font-size: 15px;
    margin: 10px 0 0 0;
}
.descriptiontxt{
    padding:0 20px;
}
.sectionbanner-product{
    background: url(../images/productbanner.jpg) no-repeat 50% 86%;
    margin-bottom: 25px;
}
.carousel {
    margin-top: 20px;
}
.item .thumb {
    width: 25%;
    cursor: pointer;
    float: left;
}
.item .thumb img {
    width: 100%;
    margin: 2px;
}
.item img {
    width: 100%;
}
.wrapalltags{
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.producttagtitle{
    font-size: 21px;
    color:#268fc9;
    margin: 40px 0 15px 0;
}
.producttagtitle-c1{
    font-size: 21px;
    color:#d04d9d;
    margin: 40px 0 15px 0;
}
.producttagtitle-c2{
    font-size: 21px;
    color:#7862aa;
    margin: 40px 0 15px 0;
}
.producttagtitle-c3{
    font-size: 21px;
    color:#268fc9;
    margin: 40px 0 15px 0;
}
.producttagtitle-c4{
    font-size: 21px;
    color:#3dbdc0;
    margin: 40px 0 15px 0;
}
.producttagtitle-c5{
    font-size: 21px;
    color:#a0cb60;
    margin: 40px 0 15px 0;
}
.producttagtitle-c6{
    font-size: 21px;
    color:#fcc342;
    margin: 40px 0 15px 0;
}
.tag1, .tag2, .tag3 {
    position: relative;
    width:120px;
    height:40px;
    color:#FFFFFF;
    text-align:center;
    line-height:40px;
    font-size: 11px;
    display: inline-block;
    margin-left: -3px;
}
.tag1 a, .tag1 a:hover, .tag2 a, .tag2 a:hover, .tag3 a, .tag3 a:hover{
    color:#FFFFFF;
    text-decoration: none;
    font-size: 11px;
}
.tag1{z-index: 3;}
.tag2 {z-index: 2;}
.tag-c1{background-color:#d04d9d;}
.tag-c2{background-color:#7862aa;}
.tag-c3{background-color:#268fc9;}
.tag-c4{background-color:#3dbdc0;}
.tag-c5{background-color:#a0cb60;}
.tag-c6{background-color:#fcc342;}
.tag1:after, .tag2:after, .tag3:after {
    content:"";
    position: absolute;
    left: 100%;
    top:0px;
    width:0px;
    height:0px;
    border-top:20px solid transparent;
    border-bottom:20px solid transparent;
}
.tag-c1:after{border-left:20px solid #d04d9d;}
.tag-c2:after{border-left:20px solid #7862aa;}
.tag-c3:after{border-left:20px solid #268fc9;}
.tag-c4:after{border-left:20px solid #3dbdc0;}
.tag-c5:after{border-left:20px solid #a0cb60;}
.tag-c6:after{border-left:20px solid #fcc342;}
.productbacklink a{
    color: #268fc9;
    text-decoration: none;
}

.productbacklink-c1{
    float: left;
    width: 100%;
}
.productbacklink-c1 a{
    color: #d04d9d;
    text-decoration: none;
}
.productbacklink-c2{
    float: left;
    width: 100%;
}
.productbacklink-c2 a{
    color: #7862aa;
    text-decoration: none;
}
.productbacklink-c3{
    float: left;
    width: 100%;
}
.productbacklink-c3 a{
    color: #268fc9;
    text-decoration: none;
}
.productbacklink-c4{
    float: left;
    width: 100%;
}
.productbacklink-c4 a{
    color: #3dbdc0;
    text-decoration: none;
}
.productbacklink-c5{
    float: left;
    width: 100%;
}
.productbacklink-c5 a{
    color: #a0cb60;
    text-decoration: none;
}
.productbacklink-c6{
    float: left;
    width: 100%;
}
.productbacklink-c6 a{
    color: #fcc342;
    text-decoration: none;
}
.relatedproducts{
    float: left;
    width: 100.2%;
    margin-top: 20px;
}
.carousel-controlrelated{
    width: 4% !important;
}
.relatedproducts .left, .relatedproducts .right{
    background: none !important;
    opacity: .9;
    width: 4%;
}
.relatedproducts .glyphicon-chevron-left, .relatedproducts .glyphicon-chevron-right{
    color: #bf2169;
}
.wrapnewsletter-pdp{
    height: 350px;
    width: 100%;
    background: url(../images/searchbanner.jpg) no-repeat 50% 20%;
    background-size:cover;
    text-align: center;
    padding-top: 110px;
    margin-top: 40px;
}

.relatedproducts .slider .slick-prev{background: #000;   }
.relatedproducts .slider .slick-next{background: #000;   }
.relatedproducts .imgplp-product{
    width: 100%;
    height: auto;
}
@media only screen and (max-width:1200px){
    .price{padding-top: 0px !important;}
    .btn-addtocart{margin-top: 10px;}
}
@media only screen and (max-width:768px){
}
@media only screen and (max-width:510px){
}
/* ================================
TERMINA PRODUCTO
=================================== */


/* ================================
INICIA CARRITO
=================================== */
.sectionbanner-cart{
    background: url(../images/cartbanner.jpg) no-repeat 50% 15%;
}
.carttitle{
    float: left;
    width: 100%;
    font-size: 18px;
    color: #000;
    margin: 0;
}
.wrapcarttable{
    float: left;
    width: 100%;
    margin-top: 15px;
}
.carttitles{
    float: left;
    width: 100%;
    background: #f6f6f6;
    padding: 10px 0 5px 0;
}
.productcarttitle, .pricecarttitle, .qtycarttitle, .subtotalcarttitle {
    font-size: 15px;
}
.subtotalcarttitle {
    text-align: right;
    padding-right: 0;
}
.pricecarttitle, .qtycarttitle, .subtotalcarttitle{text-align: center;}
.wrapproductcart{
    padding: 15px 0;
    border-bottom: 1px solid #e6e6e6;
    float: left;
    width: 100%;
}
.cartimg{
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.cartimg img{border:1px solid #dddddd;}
.carttxt, .cartprice{
    padding: 7px 0 0 15px;
}
.remove{
    padding: 7px 0 0 0;
    text-align: center;
}
.cartprice, .cartqty {
    padding: 7px 0 0 0;
    text-align: center;
}
.cartsubtotal{
    padding-top: 7px;
    padding-right: 0;
    text-align: right;
}
.carttxt a{
    color: #000;
    text-decoration: none;
}
.cartsubtotal-price {
    float: left;
    text-align: right;
}
.remove{
    float: left;
}
.carttablefooter{
    float: left;
    width: 100%;
    padding: 10px 0 40px 0;
}
.continueshopping a{
    font-size: 11px;
    color: #000;
}
.continueshopping .return{
    padding: 13px 15px;
    background: #4CAF50;
    color: #FFF;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.continueshopping .return:hover, .continueshopping .return:focus {
    background: #46a049;
    text-decoration: none;
}
.continueshopping .return:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #46a049;
    border: solid 1px #268fc9;
}
.subtotaltxt{
    font-size: 16px;
    text-align: right;
}
.subtotalprice{
    font-size: 16px;
    text-align: right;
    padding-right: 0;
}
.relatedproducts-cart{
    float: left;
    width: 100%;
    margin-top: 0;
    margin-bottom: 30px;
}
.cartright{
    background: #e6eef6;
    padding: 25px 15px;
    float: left;
    margin-top: 33px
}
.wraptotalline{
    width: 214px;
    margin: 0 auto;
    display: block;
}
.total-subtotaltxt, .total-shippingtxt, .total-totaltxt{
    float: left;
    width: 107px;
}
.total-subtotalprice, .total-shippingprice, .total-totalprice{
    float: left;
    width: 107px;
    text-align: right;
}
.total-totaltxt, .total-totalprice{font-size: 18px;}
.wrapbtnshoppingcart{
    float: left;
    width: 100%;
    margin-top: 10px;
}
.wrapbtnshoppingcart a{
    width: 160px;
    padding: 15px 25px;
    color: #fff;
    text-decoration: none;
    background: #a0cb60;
    margin: 0 auto;
    display: block;
    text-align: center;
}
.ssl-cc{
    float: left;
    width: 100%;
    text-align: center;
    background: #fff;
    margin-top: 20px;
    padding: 10px 0;
}
@media only screen and (max-width:991px){
    .cartproductinfo{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .qtycarttitle{padding: 0;}
    .subtotalprice{padding-right: 0;}
}
@media only screen and (max-width:768px){
    .cartprice-txt-xs, .cartprice-xs{
        float: left;
        padding-right: 5px
    }
    .cartimg, .carttxt{
        float: left;
        padding: 0;
    }
    .carttxt{width: 55%;}
    .qty-xs{
        float: left;
        width: 100%;
    }
    .qty-xs {float: left;}
    .cartmobileinfo{
        float: left;
        width: 60%;
    }
    .wrapxs-pricecart{float: left; width: 100%;}
    .wrapxs-subtotalcart{float: left; width: 100%;}
    .cartsubtotal-txt-xs, .cartsubtotal-xs{
        float: left;
        padding-right: 5px;
    }
    .cartsubtotal-txt-xs, .cartprice-txt-xs{
        width: 75px;
    }
    .wrapremove-xs{
        float: left;
        margin-top: 10px;
    }
    .wrapremove-xs a{text-decoration: underline;}
    .cartimg{
        width: 30% !important;
        height: auto !important;
    }
    .cartimg img{
        width: 100% !important;
        height: auto !important;
    }
    .subtotal-xs{
        display: inline-block !important;
    }
    .subtotalprice, .continueshopping{padding: 0;}
    .cartright{margin-top: 10px !important;}
}
@media only screen and (max-width:510px){
    .cartimg{
        width: 35% !important;
        height: auto !important;
    }
    .cartimg img{
        width: 100% !important;
        height: auto !important;
    }
}
/* ================================
TERMINA CARRITO
=================================== */


/* ================================
INICIA CHECKOUT
=================================== */
.checkoutheader{
    float: left;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #e6e6e6;
    padding: 15px 0;
}
.checkoutlogo{
    text-align: center;
}
.wrapcheckoutheaderinfo{

}
.checkoutheaderphone, .headerssl-cc{text-align: right;}
.checkoutform form input{border-radius: 0;}
.wrapform{
    float: left;
}
.checkouttitle, .orderwidgettitle{
    font-size: 19px;
    float: left;
    margin: 30px 0 20px 0;
    width: 100%;
    float: left !important;
}
.shippingtitle, .cctitle{margin:10px 0 20px 0;}

.checkoutcity select{
    float: left;
    width: 100%;
}
.wrapform form label{font-weight: normal;}


.col-3{float: left; width: 100%; margin-bottom: 20px; position: relative;}
.effect-20 {border: 1px solid #ccc; padding: 7px 14px; transition: 0.4s; background: transparent;}
.effect-20 ~ .focus-border:before,
.effect-20 ~ .focus-border:after{content: ""; position: absolute; top: 0; left: 0; width: 0; height: 2px; background-color: #3399FF; transition: 0.3s;}
.effect-20 ~ .focus-border:after{top: auto; bottom: 0; left: auto; right: 0;}
.effect-20 ~ .focus-border i:before,
.effect-20 ~ .focus-border i:after{content: ""; position: absolute; top: 0; left: 0; width: 2px; height: 0; background-color: #3399FF; transition: 0.4s;}
.effect-20 ~ .focus-border i:after{left: auto; right: 0; top: auto; bottom: 0;}
.effect-20:focus ~ .focus-border:before,
.effect-20:focus ~ .focus-border:after,
.has-content.effect-20 ~ .focus-border:before,
.has-content.effect-20 ~ .focus-border:after{width: 100%; transition: 0.3s;}
.effect-20:focus ~ .focus-border i:before,
.effect-20:focus ~ .focus-border i:after,
.has-content.effect-20 ~ .focus-border i:before,
.has-content.effect-20 ~ .focus-border i:after{height: 100%; transition: 0.4s;}
.effect-20 ~ label{position: absolute; left: 12px; width: 100%; top: 8px; color: #aaa; transition: 0.3s; z-index: -1; }
.effect-20:focus ~ label, .has-content.effect-20 ~ label{top: -18px; left: 0; font-size: 12px; color: #3399FF; transition: 0.3s;}

.twocolumns-form-left{
    width: 48% !important;
    margin: 0 4% 0 0;
}
.twocolumns-form-left-cvv{
    width: 80% !important;
    margin: 0 4% 0 0;
}
.twocolumns-form-right{width: 48% !important;}
.twocolumns-form-right-cvv{width: 16% !important;}
#ccnumber{background: url(../images/cc-visa.jpg) no-repeat 98%  6px !important;}
.wrapbtn{
    text-align: center;
}
.buybtn{
    background: #a0cb60;
    font-size: 16px;
    width: 160px;
    padding: 17px 0;
    color: #fff;
    border-radius: 0;
    margin:15px 0 20px 0;
}
.buybtn:hover, .buybtn:active, .buybtn:focus{
    background: #92be50 !important;
    color: #fff !important;
}
.wraporderdetailtitles{
    float: left;
    width: 100%;
    background: #f6f6f6;
}
.prodtitle-widget, .totaltitle-widget{
    color: #383838;
    text-transform: uppercase;
    text-align: center;
    padding: 0px;
}
.totaltitle-widget{
}
.wraporderdetail{
    float: left;
    width: 100%;
}
.wrapproduct-widget, .wrapproduct-widget-totals{

    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #e6e6e6;
    background: white;
}
.wrapproduct-widget-totals{border: none;}
.prodname-widget{
    text-align: left;
    font-size: 12px;
}
.total-widget{
    text-align: right;
    font-size: 13px;
    padding-left: 0;
}
.prodname-widget, .prodqty-widget{
    width: 100%;
}
.prodqty-widget{
    font-weight: 700;
    margin-top: 5px;
    font-size: 12px;
}
.prodprice-widget{
    font-weight: 700;
    font-size: 13px;
}
.wraptotals-widget{
    float: left;
    background: #f6f6f6;
}
.wraptotaltitles-widget, .wraptotalprices-widget{
    width: 100%;
    padding: 10px 0px 0px 19px;
}
.subtotaltitle-widget, .shippingtitle-widget, .totaltitlebottom-widget{
    width: 100%;
    padding: 0px 0px 5px 19px;
}
.subtotaltitle-widget, .shippingtitle-widget, .totalpricebottom-widget{
    width: 100%;
    padding: 0px 0px 5px 19px;
}
#payment .payment_methods li label{
    display: block;
    padding: 0px;
    cursor: pointer;
}
.woocommerce-checkout .payment-fixed{
    position: relative;
}

#payment .place-order {
    padding: 0px 1.387em;
    margin-bottom: 0;
    float: none;
    width: 100%;
}
.shipping th{
    width: 100%;
    padding: 0px 0px 5px 19px;
}
.shipping td{
    width: 100%;
    padding: 0px 0px 5px 19px;
}
.checkoutfooter{
    background: #3dbdc0;
    padding: 15px 0;
    float: left;
    width: 100%;
}
.privacylinks{
    float: left;
    width: 100%;
    text-align: center;
    color:#fff;
}
.privacylinks a {
    color: #fff;
    text-decoration: underline;
    font-size: 12px;
}
.privacylinks a:hover {text-decoration: none;}
.checkoutcopyright{
    float: left;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 11px;
    margin-top: 15px;
}
@media only screen and (max-width:991px){
    .checkoutheaderphone, .headerssl-cc{text-align: center;}
    .checkoutheaderphone{margin-top: 10px;}
}
/* ================================
TERMINA CHECKOUT
=================================== */


/* ================================
INICIA CONTACTO
=================================== */
.sc-wrapcontact{
    background: url(../images/backcontact.jpg) no-repeat 50% 0;
    background-size: cover;
    min-height: 600px;
    margin-left: -8%;
    margin-right: -7.7%;
    margin-bottom: -7%;
}
.hentry {
    margin: 0px;
}
.site-main {
    margin-bottom: 0px;
}
.wpcf7-form{
    color: white;
}
.wpcf7-textarea{
    width: 98%;
    height: 83px;
}
.contactinput{
    border: 3px solid #fff;
    color: #fff;
    text-align: left;
}

.sc-contactform .wrapform .checkoutform form div label{z-index: 1;color:#fff;}

.sc-contactform .wrapform .checkoutform form div .effect-20:focus ~ label, .has-content.effect-20 ~ label{top: -18px; left: 0; font-size: 12px; color: #fff; transition: 0.3s;}

.contacttitle{
    float: left;
    width: 100%;
    font-size: 20px;
    text-align: center;
    color: #fff;
    margin-top: 120px;
}
.contacttxt{
    float: left;
    width: 100%;
    color: #fff;
    text-align: justify;
    margin-bottom: 20px;
}
.wrapcontactbtn{text-align: center;}
.contactbtn{
    background: #bf2169;
    font-size: 14px;
    width: 160px;
    padding: 13px 0;
    color: #fff;
    border-radius: 0;
}
.contactbtn:hover, .contactbtn:active, .contactbtn:focus{
    background: #ae175c !important;
    color: #fff !important;
}
.sc-contactinfo{
    border: 1px dashed #d8e100;
    padding: 25px 15px;
    margin-top: 120px;
}
.contactsocialicons{
    float: left;
    width: 100%;
    text-align: center;
}
.contactsocialicons a{
    margin-right: 20px;
}
.contactsocialtitle{
    font-size: 20px;
    color: #d8e100;float: left;
    width: 100%;
    text-align: center;
}
.contactphonetitle{
    float: left;
    width: 100%;
    font-size: 20px;
    text-align: center;
    color: #fff;
}
@media only screen and (max-width:768px){
    .sc-contactinfo{margin: 15px 0 20px 0;}
    .contacttitle{margin-top: 30px;}
}
/* ================================
TERMINA CONTACTO
=================================== */




/* ================================
INICIA CONTENIDO ESTATICO QUIENES SOMOS
=================================== */
.sc-wrapquienes{
    background: url(../images/backquienessomos.jpg) no-repeat 50% 0;
    background-size: cover;
    min-height: 600px;
    margin-left: -20%;
    margin-right: -18%;
    margin-bottom: -7%;
}
.quienestitle{
    float: left;
    width: 100%;
    font-size: 20px;
    text-align: center;
    color: #fff;
    margin-top: 120px;
}
.quienestxt{
    float: left;
    width: 100%;
    color: #fff;
    text-align: justify;
}
.sc-quienescontact{
    border: 1px dashed #d8e100;
    padding: 25px 15px;
    margin-top: 120px;
}
.quienesphonetitle{
    float: left;
    width: 100%;
    font-size: 20px;
    text-align: center;
    color: #fff;
}
.quienesemail{
    color: #fff;
    float: left;
    width: 100%;
    text-align: center;
    margin: 20px 0;
}
.wrapquienessocial{
    float: left;
    width: 100%;
}
.quienessocialtitle{
    font-size: 16px;
    color: #d8e100;float: left;
    width: 100%;
    text-align: center;
}
.quienessocialicons{
    float: left;
    width: 100%;
    text-align: center;
    margin-left: 40%;
}
.quienessocialicons a{
    margin-right: 20px;
}
@media only screen and (max-width:768px){
    .sc-quienescontact{margin-top: 15px;}
    .quienestitle{margin-top: 30px;}
}
.sslfooter {
    float: right;
}
.social-icons {
    float: left;
}
.footer-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;

}


.cart-header{
    height: auto;
    display: initial;
}
/* ================================
TERMINA CONTENIDO ESTATICO QUIENES SOMOS
=================================== */
/* ================================
update thempalte 0.5
=================================== */
.woocommerce-result-count{
    display: none;
}
.woocommerce-pagination{
    /*display: none;*/
    margin-right: 20px;
}
.woocommerce-ordering{
    float: right;
}
.widget-title{
    color: #268fc9;
    font-size: 16px;
    padding-top: 15px;
}
.widget_price_filter .ui-slider .ui-slider-range, .widget_price_filter .ui-slider .ui-slider-handle {
    /*background-color: #268fc9;*/
    background-color: #ff6600;
}
.navbar-collapse .price_slider_amount button{
    /*background-color: #268fc9;
    border-color: #268fc9;*/
    background-color: #ff6600;
    border-color: #ff6600;
    color: #ffffff;
}
.navbar-collapse .price_slider_amount button:hover{
    background-color: #e65c00;
    border-color: #e65c00;
    color: #ffffff;
}
.navbar-collapse a{
    color:#e65c00;
}
.navbar-collapse .product-categories .children a{
    color:#ff9933;
}
button, input[type="button"], input[type="reset"], input[type="submit"], .button, .added_to_cart, .widget a.button, .site-header-cart .widget_shopping_cart a.button {
    background-color: #268fc9;
    border-color: #268fc9;
    color: #ffffff;
}
button.alt, input[type="button"].alt, input[type="reset"].alt, input[type="submit"].alt, .button.alt, .added_to_cart.alt, .widget-area .widget a.button.alt, .added_to_cart, .pagination .page-numbers li .page-numbers.current, .woocommerce-pagination .page-numbers li .page-numbers.current, .widget a.button.checkout {
    background-color: #a0cb60;
    border-color: #a0cb60;
    color: #ffffff;
}
.pagination .page-numbers li .page-numbers, .woocommerce-pagination .page-numbers li .page-numbers{
    text-decoration: none;
}
.added_to_cart:focus, .button:focus, button:focus, input[type=button]:focus, input[type=reset]:focus, input[type=submit]:focus {
    outline: #a0cb60 solid 2px;
}

.woocommerce-checkout-payment .buybtn  {
    background-color: #a0cb60;
    border-color: #a0cb60;
    color: #ffffff;
}

.continueshopping input[type=submit] {
    background-color: #268fc9;
    border-color: #268fc9;
}

.continueshopping input[type=submit]:hover {
    background-color: #337ab7;
    border-color: #337ab7;
}
button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, .button:hover, .added_to_cart:hover, .widget a.button:hover, .site-header-cart .widget_shopping_cart a.button:hover {
    background-color: #337ab7;
    border-color: #337ab7;
    color: #ffffff;
}
.wc-forward:hover{
    background-color: #92be50 !important;
    border-color: #92be50  !important;
    color: #ffffff;
}
.wrapbtnshoppingcart a:hover{

    background: #92be50;

}
table tbody tr:nth-child(2n) td {
    background-color: #FFFFFF;
}
table tbody td {
    background-color: #FFFFFF;
}
.newremove {
    padding-left: 20px;
    float: left;
    padding-top: 4px;
}
.cart_list .mini_cart_item  .remove{
    display: none;
}

.subtotalcarttitle{
    text-align: right;
}

.wrapproductprice .price del .amount{
    text-decoration: inherit;
    margin-top: -30px;
}
.wrapproductprice .price ins .amount{
    margin-top: -7px;
}
/* ================================
TERMINA update thempalte 0.5
=================================== */
/* ================================
INICIA THANK YOU
=================================== */
.wrapthanks{padding: 50px 0;}
.thanksicon{
    float: left;
    width: 100%;
    text-align: center;
}
.thankstitle{
    float: left;
    width: 100%;
    font-size: 25px;
    color: #000;
    padding: 10px 0;
    margin: 0;
    text-align: center;
    border-bottom: 1px dashed #3dbdc0;
}
.thankssubtitle{
    float: left;
    width: 100%;
    font-size: 18px;
    color: #000;
    padding: 10px 0;
    margin: 0;
    text-align: center;
}
.wrapordernumber{
    background: #f0f0f0;
    padding: 15px;
}
.ordernumber, .orderpaymentinfo, .orderdate, .ordertotal{
    font-size: 18px;
}
.greyorder{color:#757575;font-size: 18px;}


.subtotalordertitle {
    font-size: 15px;
    text-align: right;
}
.ordersubtotal{
    padding-top: 7px;
    padding-right: 15px;
    text-align: right;
}
.cartsubtotalorder-xs{
    float: right;
    padding-right: 5px;
}
.ordercantprod{display: inline-block;}
.subtotalorderprice, .shippingorderprice{
    font-size: 14px;
    text-align: right;
    padding-right: 0;
}
.totalorderprice{
    font-size: 18px;
    text-align: right;
    padding-right: 0;
}
.subtotalordertxt, .shippingordertxt{
    font-size: 14px;
    text-align: right;
}
.totalordertxt{
    font-size: 18px;
    text-align: right;
}
.wrapcontinueshopping-order{
    float: left;
    width: 100%;
    margin-top: 10px;
}
.wrapcontinueshopping-order a{
    width: 230px;
    padding: 15px 25px;
    color: #fff;
    text-decoration: none;
    background: #a0cb60;
    margin: 0 auto;
    display: block;
    text-align: center;
}
.finalordertxt{
    float: left;
    width: 100%;
    text-align: center;
}
.finalordertxt-mobile{
    float: left;
    width: 100%;
    text-align: center;
    padding: 15px 0 5px 0;
}
/* ================================
TERMINA THANK YOU
=================================== */