.clear {
  clear: both;
}
.nobr {
  white-space: nowrap;
}
.wc-product-slider-widget-skin-container .wc-product-slider {
  height: 250px;
}
.wc-product-slider-widget-skin-container .a3-cycle-controls {
  display: inline !important;
}
.wc-product-slider-widget-skin-container .a3-cycle-controls .cycle-prev {
  background-image: url("http://www.compro.dev/wp-content/plugins/woo-widget-product-slideshow/assets/images/small-prev.png");
}
.wc-product-slider-widget-skin-container .a3-cycle-controls .cycle-next {
  background-image: url("http://www.compro.dev/wp-content/plugins/woo-widget-product-slideshow/assets/images/small-next.png");
}
.wc-product-slider-widget-skin-container .a3-cycle-controls .cycle-pause {
  background-image: url("http://www.compro.dev/wp-content/plugins/woo-widget-product-slideshow/assets/images/small-pause.png");
}
.wc-product-slider-widget-skin-container .a3-cycle-controls .cycle-play {
  background-image: url("http://www.compro.dev/wp-content/plugins/woo-widget-product-slideshow/assets/images/small-play.png");
}
.wc-product-slider-widget-skin-container .cycle-pager-container {
  display: inline !important;
  top: auto;
  right: 10px;
  bottom: 10px;
  left: auto;
}
.wc-product-slider-widget-skin-container .cycle-pager-overlay {
  background-color: #000000 !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  border-radius: 4px 4px 4px 4px !important;
  -moz-border-radius: 4px 4px 4px 4px !important;
  -webkit-border-radius: 4px 4px 4px 4px !important;
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=0.6);
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
}
.wc-product-slider-widget-skin-container .cycle-pager {
  border: 0px solid #000000 !important;
  border-radius: 4px 4px 4px 4px !important;
  -moz-border-radius: 4px 4px 4px 4px !important;
  -webkit-border-radius: 4px 4px 4px 4px !important;
}
.wc-product-slider-widget-skin-container .cycle-pager span {
  background-color: #000000 !important;
  border: 1px solid #FFFFFF !important;
  border-radius: 10px 10px 10px 10px !important;
  -moz-border-radius: 10px 10px 10px 10px !important;
  -webkit-border-radius: 10px 10px 10px 10px !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.wc-product-slider-widget-skin-container .cycle-pager span.cycle-pager-active {
  background-color: #FFFFFF !important;
  border: 1px solid #FFFFFF !important;
  border-radius: 10px 10px 10px 10px !important;
  -moz-border-radius: 10px 10px 10px 10px !important;
  -webkit-border-radius: 10px 10px 10px 10px !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.wc-product-slider-widget-skin-container .cycle-product-name {
  display: block;
}
.wc-product-slider-widget-skin-container .cycle-product-name {
  padding: 0 !important;
  margin: 5px 5px 5px 5px !important;
}
.wc-product-slider-widget-skin-container .cycle-product-name a {
  font: bold 18px Arial, sans-serif !important;
  color: #000000 !important;
}
.wc-product-slider-widget-skin-container .cycle-product-name a:hover {
  color: #999999 !important;
}
.wc-product-slider-widget-skin-container .cycle-product-price {
  display: block;
}
.wc-product-slider-widget-skin-container .cycle-product-price {
  padding: 0 !important;
  margin: 5px 5px 5px 5px !important;
}
.wc-product-slider-widget-skin-container .cycle-product-price span,
.wc-product-slider-widget-skin-container .cycle-product-price .amount {
  font: normal 12px Arial, sans-serif !important;
  color: #FF0000 !important;
}
.wc-product-slider-widget-skin-container .cycle-product-price del,
.wc-product-slider-widget-skin-container .cycle-product-price del .amount {
  font: normal 11px Arial, sans-serif !important;
  color: #000000 !important;
}
.wc-product-slider-widget-skin-container .cycle-widget-skin-product-linked-container {
  display: block;
}
.wc-product-slider-widget-skin-container .cycle-widget-skin-product-linked-container {
  padding: 2px 5px 2px 5px !important;
  margin: 0px 0px 0px 0px !important;
  background-color: #F7F7F7 !important;
  border: 0px solid #000000 !important;
  border-radius: 0px 0px 0px 0px !important;
  -moz-border-radius: 0px 0px 0px 0px !important;
  -webkit-border-radius: 0px 0px 0px 0px !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  text-align: center !important;
}
.wc-product-slider-widget-skin-container .cycle-widget-skin-product-linked-container a.cycle-product-linked {
  font: normal 14px Arial, sans-serif !important;
  color: #000000 !important;
}
.wc-product-slider-widget-skin-container .cycle-widget-skin-product-linked-container a.cycle-product-linked:hover {
  color: #999999 !important;
}
.wc-product-slider-widget-skin-container .cycle-widget-skin-category-linked-container {
  display: block;
}
.wc-product-slider-widget-skin-container .cycle-widget-skin-category-linked-container {
  padding: 5px 10px 5px 10px !important;
  margin: 5px 0px 5px 0px !important;
  background-color: #F7F7F7 !important;
  border: 0px solid #000000 !important;
  border-radius: 0px 0px 0px 0px !important;
  -moz-border-radius: 0px 0px 0px 0px !important;
  -webkit-border-radius: 0px 0px 0px 0px !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  text-align: center !important;
}
.wc-product-slider-widget-skin-container .cycle-widget-skin-category-linked-container a.cycle-category-linked {
  font: normal 14px Arial, sans-serif !important;
  color: #000000 !important;
}
.wc-product-slider-widget-skin-container .cycle-widget-skin-category-linked-container a.cycle-category-linked:hover {
  color: #999999 !important;
}
.wc-product-slider-widget-skin-container .cycle-widget-skin-tag-linked-container {
  display: block;
}
.wc-product-slider-widget-skin-container .cycle-widget-skin-tag-linked-container {
  padding: 5px 10px 5px 10px !important;
  margin: 5px 0px 5px 0px !important;
  background-color: #F7F7F7 !important;
  border: 0px solid #000000 !important;
  border-radius: 0px 0px 0px 0px !important;
  -moz-border-radius: 0px 0px 0px 0px !important;
  -webkit-border-radius: 0px 0px 0px 0px !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  text-align: center !important;
}
.wc-product-slider-widget-skin-container .cycle-widget-skin-tag-linked-container a.cycle-tag-linked {
  font: normal 14px Arial, sans-serif !important;
  color: #000000 !important;
}
.wc-product-slider-widget-skin-container .cycle-widget-skin-tag-linked-container a.cycle-tag-linked:hover {
  color: #999999 !important;
}
