@import "wc_widget_product_slider_lite_mixins.less";

/* ------ START : WIDGET SKIN ------ */

/* Slider Dimensions */
.wc-product-slider-widget-skin-container .wc-product-slider {
	height: 250px;
}

/* Slider Controls */
.wc-product-slider-widget-skin-container .a3-cycle-controls {
	display: inline !important;
}
.wc-product-slider-widget-skin-container .a3-cycle-controls .cycle-prev{
	background-image: url("http://www.compro.dev/wp-content/plugins/woo-widget-product-slideshow/assets/images/small-prev.png");
}
.wc-product-slider-widget-skin-container .a3-cycle-controls .cycle-next {
    background-image: url("http://www.compro.dev/wp-content/plugins/woo-widget-product-slideshow/assets/images/small-next.png");
	
}
.wc-product-slider-widget-skin-container .a3-cycle-controls .cycle-pause {
    background-image: url("http://www.compro.dev/wp-content/plugins/woo-widget-product-slideshow/assets/images/small-pause.png");
}
.wc-product-slider-widget-skin-container .a3-cycle-controls .cycle-play {
    background-image: url("http://www.compro.dev/wp-content/plugins/woo-widget-product-slideshow/assets/images/small-play.png");
}

/* Slider Pager */
.wc-product-slider-widget-skin-container .cycle-pager-container {
	display: inline !important;
	top: auto;
	right: 10px;
	bottom: 10px;
	left: auto;
}
.wc-product-slider-widget-skin-container .cycle-pager-overlay {
	/*Background*/
	background-color: #000000 !important;
	/* Shadow */
	box-shadow: none !important ;-moz-box-shadow: none !important ;-webkit-box-shadow: none !important ;	/*Border Corner*/
	border-radius: 4px 4px 4px 4px !important;-moz-border-radius: 4px 4px 4px 4px !important;-webkit-border-radius: 4px 4px 4px 4px !important;	
	/* Transparency */
	opacity:0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=0.6);
	-moz-opacity: 0.6;
	-khtml-opacity: 0.6;
}
.wc-product-slider-widget-skin-container .cycle-pager {
	/*Border*/
	border: 0px solid #000000 !important;border-radius: 4px 4px 4px 4px !important;-moz-border-radius: 4px 4px 4px 4px !important;-webkit-border-radius: 4px 4px 4px 4px !important; 
}
.wc-product-slider-widget-skin-container .cycle-pager span {
	/*Background*/
	background-color: #000000 !important;
	/*Border*/
	border: 1px solid #FFFFFF !important;border-radius: 10px 10px 10px 10px !important;-moz-border-radius: 10px 10px 10px 10px !important;-webkit-border-radius: 10px 10px 10px 10px !important;	/* Shadow */
	box-shadow: none !important ;-moz-box-shadow: none !important ;-webkit-box-shadow: none !important ;}
.wc-product-slider-widget-skin-container .cycle-pager span.cycle-pager-active {
	/*Background*/
	background-color: #FFFFFF !important;
	/*Border*/
	border: 1px solid #FFFFFF !important;border-radius: 10px 10px 10px 10px !important;-moz-border-radius: 10px 10px 10px 10px !important;-webkit-border-radius: 10px 10px 10px 10px !important;	/* Shadow */
	box-shadow: none !important ;-moz-box-shadow: none !important ;-webkit-box-shadow: none !important ;}

/* Title Style */
.wc-product-slider-widget-skin-container .cycle-product-name {
	display:block;
}
.wc-product-slider-widget-skin-container .cycle-product-name {
	padding:0 !important;
	margin: 5px 5px 5px 5px !important;
}
.wc-product-slider-widget-skin-container .cycle-product-name a {
	/* Font */
	font:bold 18px Arial, sans-serif !important; color:#000000 !important;}
.wc-product-slider-widget-skin-container .cycle-product-name a:hover {
	color: #999999 !important;
}

/* Price Style */
.wc-product-slider-widget-skin-container .cycle-product-price {
	display:block;
}
.wc-product-slider-widget-skin-container .cycle-product-price {
	padding:0 !important;
	margin: 5px 5px 5px 5px !important;
}
.wc-product-slider-widget-skin-container .cycle-product-price span, .wc-product-slider-widget-skin-container .cycle-product-price .amount  {
	/* Font */
	font:normal 12px Arial, sans-serif !important; color:#FF0000 !important;}
.wc-product-slider-widget-skin-container .cycle-product-price del, .wc-product-slider-widget-skin-container .cycle-product-price del .amount {
	/* Font */
	font:normal 11px Arial, sans-serif !important; color:#000000 !important;}

/* View Product Style */
.wc-product-slider-widget-skin-container .cycle-widget-skin-product-linked-container {
	display:block;
}
.wc-product-slider-widget-skin-container .cycle-widget-skin-product-linked-container {
	padding: 2px 5px 2px 5px !important;
	margin: 0px 0px 0px 0px !important;
	/*Background*/
	background-color: #F7F7F7 !important;
	/*Border*/
	border: 0px solid #000000 !important;border-radius: 0px 0px 0px 0px !important;-moz-border-radius: 0px 0px 0px 0px !important;-webkit-border-radius: 0px 0px 0px 0px !important;	/* Shadow */
	box-shadow: none !important ;-moz-box-shadow: none !important ;-webkit-box-shadow: none !important ;	/* Alignment */
	text-align:center !important;
}
.wc-product-slider-widget-skin-container .cycle-widget-skin-product-linked-container a.cycle-product-linked {
	/* Font */
	font:normal 14px Arial, sans-serif !important; color:#000000 !important;}
.wc-product-slider-widget-skin-container .cycle-widget-skin-product-linked-container a.cycle-product-linked:hover {
	/* Hover */
	color: #999999 !important;
}

/* Category Link Style */
.wc-product-slider-widget-skin-container .cycle-widget-skin-category-linked-container {
	display:block;
}
.wc-product-slider-widget-skin-container .cycle-widget-skin-category-linked-container {
	padding: 5px 10px 5px 10px !important;
	margin: 5px 0px 5px 0px !important;
	/*Background*/
	background-color: #F7F7F7 !important;
	/*Border*/
	border: 0px solid #000000 !important;border-radius: 0px 0px 0px 0px !important;-moz-border-radius: 0px 0px 0px 0px !important;-webkit-border-radius: 0px 0px 0px 0px !important;	/* Shadow */
	box-shadow: none !important ;-moz-box-shadow: none !important ;-webkit-box-shadow: none !important ;	/* Alignment */
	text-align:center !important;
}
.wc-product-slider-widget-skin-container .cycle-widget-skin-category-linked-container a.cycle-category-linked {
	/* Font */
	font:normal 14px Arial, sans-serif !important; color:#000000 !important;}
.wc-product-slider-widget-skin-container .cycle-widget-skin-category-linked-container a.cycle-category-linked:hover {
	/* Hover */
	color: #999999 !important;
}

/* Tag Link Style */
.wc-product-slider-widget-skin-container .cycle-widget-skin-tag-linked-container {
	display:block;
}
.wc-product-slider-widget-skin-container .cycle-widget-skin-tag-linked-container {
	padding: 5px 10px 5px 10px !important;
	margin: 5px 0px 5px 0px !important;
	/*Background*/
	background-color: #F7F7F7 !important;
	/*Border*/
	border: 0px solid #000000 !important;border-radius: 0px 0px 0px 0px !important;-moz-border-radius: 0px 0px 0px 0px !important;-webkit-border-radius: 0px 0px 0px 0px !important;	/* Shadow */
	box-shadow: none !important ;-moz-box-shadow: none !important ;-webkit-box-shadow: none !important ;	/* Alignment */
	text-align:center !important;
}
.wc-product-slider-widget-skin-container .cycle-widget-skin-tag-linked-container a.cycle-tag-linked {
	/* Font */
	font:normal 14px Arial, sans-serif !important; color:#000000 !important;}
.wc-product-slider-widget-skin-container .cycle-widget-skin-tag-linked-container a.cycle-tag-linked:hover {
	/* Hover */
	color: #999999 !important;
}

/* ------ END : WIDGET SKIN -------- */


